@use "footer";
@use "sass:math";

$font-main: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS" sans-serif;
$color-title: orange;
$bg-box: #f2f2f2;
$bg-border: #c2c2c2;

@mixin theme($theme: darkblue) {
  h3 {
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, 0.25);
    color: #fff;
    padding: 5px 10px;
  }
}

header {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-main;
  color: $color-title;
}
article {
  ul {
    display: flex;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $bg-box;
    border: 1px solid $bg-border;
    margin: 0 10px;
    padding: 5px;
    flex-basis: fit-content;
    max-width: math.div(300px, 960px) * 100%;
  }
  h3 {
    font-family: $font-main;
    color: $color-title;
  }
}
.jquery {
  @include theme;
}
.flexbox {
  @include theme($theme: darkcyan);
}
.sass {
  @include theme($theme: blueviolet);
}

